flows.json
[
    {
        "id": "f9df9522.628c08",
        "type": "tab",
        "label": "New User alert",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5c0039e.fcdba",
        "type": "mongodb2",
        "z": "",
        "uri": "mongodb://beegris_user:beegrisUser1!@cluster-klj99f8c-shard-00-00.boo01.mongodb.net:27017,cluster-klj99f8c-shard-00-01.boo01.mongodb.net:27017,cluster-klj99f8c-shard-00-02.boo01.mongodb.net:27017/heroku_klj99f8c?ssl=true&replicaSet=atlas-3ht35t-shard-0&authSource=admin&retryWrites=true&w=majority",
        "name": "AtlasMongo",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "620ee67c.c0aed8",
        "type": "inject",
        "z": "f9df9522.628c08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c854b470.1371f8"
            ]
        ]
    },
    {
        "id": "9db7ceb5.54d98",
        "type": "debug",
        "z": "f9df9522.628c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "c854b470.1371f8",
        "type": "function",
        "z": "f9df9522.628c08",
        "name": "connect",
        "func": "msg.payload={};\nmsg.payload.databaseName=\"heroku_klj99f8c\";\n//msg.operation=\"aggregate.ToArray\";\n//msg.projection={_id:0,StartTime:1};\n//msg.sort={\"created_at\":-1};//{_id:-1};\n\nmsg.limit=10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "f765eb45.1610c8"
            ]
        ]
    },
    {
        "id": "f765eb45.1610c8",
        "type": "mongodb2 in",
        "z": "f9df9522.628c08",
        "service": "_ext_",
        "configNode": "a5c0039e.fcdba",
        "name": "",
        "collection": "users",
        "operation": "aggregate.toArray",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "9db7ceb5.54d98",
                "abd3a5ee.5a9a38"
            ]
        ]
    },
    {
        "id": "39ed860e.7f9f7a",
        "type": "catch",
        "z": "f9df9522.628c08",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "19a207af.3a7948"
            ]
        ]
    },
    {
        "id": "19a207af.3a7948",
        "type": "debug",
        "z": "f9df9522.628c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "4572bacb.34e3d4",
        "type": "debug",
        "z": "f9df9522.628c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "abd3a5ee.5a9a38",
        "type": "function",
        "z": "f9df9522.628c08",
        "name": "Get Last User",
        "func": "var lastday = new Date();\nlastday.setDate(lastday.getDate() - 1);\n\nmsg.users={};\nmsg.users=msg.payload;\nfor(i=0; i<msg.users.length; i++)\n{\n    u = msg.users[i]\n    newmsg={};\n    newmsg.payload=u;\n    d1 = new Date(u.created_at);\n    newmsg.payload.createdDate=d1;\n    newmsg.payload.lastday=lastday;\n    if (d1>lastday)\n    {\n        node.send(newmsg);\n   }\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "4572bacb.34e3d4",
                "854596d8.44b778"
            ]
        ]
    },
    {
        "id": "854596d8.44b778",
        "type": "function",
        "z": "f9df9522.628c08",
        "name": "Set mail",
        "func": "user = msg.payload;\nmsg.mail={\n        transport:\n        {\n            host:\"smtp.office365.com\",\n            port:\"587\",\n            auth:\n            {\n                user:\"anna@beegris.com\",\n                pass:\"uynZ5mvr\"\n            }\n       },\n       options:\n       {\n            subject:\"New beegris user (testing mail)\",\n            from:\"anna@beegris.com\",\n            to:\"amir@beegris.com;anna@beegris.com\",\n            text:\"new user: \"+user.username\n                +'\\n'+\"created_at: \"+user.created_at\n                +'\\n'+\"name: \"+user.name\n                +'\\n'+\"email: \"+user.email\n       }\n    }\n/*\nSMTP Server\nmsg.mail.transport.host\nmsg.mail.transport.port\nmsg.mail.transport.auth.user\nmsg.mail.transport.auth.pass\nMail\nmsg.mail.options.from\nmsg.mail.options.to\nmsg.mail.options.subject\nmsg.mail.options.text\n*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "26d34a11.640936"
            ]
        ]
    },
    {
        "id": "26d34a11.640936",
        "type": "simple-sendmail",
        "z": "f9df9522.628c08",
        "name": "Anna+Amir",
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3f78a243.c16dae",
        "type": "debug",
        "z": "f9df9522.628c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "f811449e.3a8888",
        "type": "function",
        "z": "f9df9522.628c08",
        "name": "Get Pending",
        "func": "msg.items={};\nmsg.items=msg.payload;\nfor(i=0; i<msg.items.length; i++)\n{\n    u = msg.items[i]\n    newmsg={};\n    newmsg.payload=u;\n    if (u.status=='pending')\n    {\n        node.send(newmsg);\n    }\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "3f78a243.c16dae",
                "3b6107f8.d5a448"
            ]
        ]
    },
    {
        "id": "3b6107f8.d5a448",
        "type": "function",
        "z": "f9df9522.628c08",
        "name": "Set mail",
        "func": "item = msg.payload;\nmsg.mail={\n        transport:\n        {\n            host:\"smtp.office365.com\",\n            port:\"587\",\n            auth:\n            {\n                user:\"anna@beegris.com\",\n                pass:\"uynZ5mvr\"\n            }\n       },\n       options:\n       {\n            subject:\"New beegris pending item\",\n            from:\"anna@beegris.com\",\n            to:\"anna@beegris.com;amir@beegris.com\",\n            text:\"new user: \"+item.title\n                +'\\n'+\"created_at: \"+item.created_at\n                +'\\n'+\"name: \"+item.designed_by\n                +'\\n'+\"email: \"+item.created_at\n       }\n    }\n/*\nSMTP Server\nmsg.mail.transport.host\nmsg.mail.transport.port\nmsg.mail.transport.auth.user\nmsg.mail.transport.auth.pass\nMail\nmsg.mail.options.from\nmsg.mail.options.to\nmsg.mail.options.subject\nmsg.mail.options.text\n*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "e93a3854.aafac8"
            ]
        ]
    },
    {
        "id": "e93a3854.aafac8",
        "type": "simple-sendmail",
        "z": "f9df9522.628c08",
        "name": "Anna's",
        "x": 490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "99b60608.65f248",
        "type": "debug",
        "z": "f9df9522.628c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "9effca4a.f7ae78",
        "type": "mongodb2 in",
        "z": "f9df9522.628c08",
        "service": "_ext_",
        "configNode": "a5c0039e.fcdba",
        "name": "",
        "collection": "items",
        "operation": "aggregate.toArray",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "99b60608.65f248",
                "f811449e.3a8888"
            ]
        ]
    },
    {
        "id": "d2d59849.f83898",
        "type": "inject",
        "z": "f9df9522.628c08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "9effca4a.f7ae78"
            ]
        ]
    }
]
